html,
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'RobotoMonoJP', Arial, sans-serif;
    color: #a4a4a4;
}

body {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

@font-face {
    font-family: 'RobotoMonoJP';
    src: url('/resource/font/RobotoMonoJP-Mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

h1,
p,
p1,
a {
    margin: 10px 0;
    color: #000000;
}

img {
    display: block;
    margin: 20px auto;
}

footer {
    display: block;
    margin: 20px auto;

}

hr {
    border: none;
    border-top: 2px solid rgba(0, 0, 0, 0.18);
    margin: 35px 0;
}

.text-footer {
    color: #414141;
    font-size: 12px;
    margin: 10px 0 0;
}

img {
    border-radius: 14px;
}

.hidelabel {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
}